services:
  db:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Passw0rd
    ports:
      - 1433:1433
    volumes:
      - mssql_data:/var/opt/mssql

  # app:
  #   build: .
  #   env_file: .env
  #   environment:
  #     DB_USER: "sa"
  #     DB_PASSWORD: "Passw0rd"
  #     DB_SERVER: "localhost"
  #     DB_DATABASE: "master"
  #     DB_TRUST_SERVER_CERT: "true"
  #   ports:
  #     - 3000:3000

volumes:
  mssql_data:
